doctype html
html 
    head 
        title= title 
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    body
        header.w3-container.w3-teal
            h2
                a(href="/") Plataforma de Contratos
        block content 
        footer.w3-container.w3-teal
            p
                | © 2024 Teste EngWeb
